body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

input {
  flex: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
  font-size: 14px;
}

button {
  padding: 8px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

button:hover {
  background: #0056b3;
}

.container {
  position: relative;
  background: white;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}
.busca-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

#map {
  height: 450px;
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#print-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Ajuste do fundo da caixa de informações */
.leaflet-routing-container {
  background-color: transparent !important; /* Deixa o fundo transparente */
  color: #000 !important; /* Define a cor do texto como preto */
  box-shadow: none; /* Remove qualquer sombra */
}

/* Personalizando os marcadores (pinos de partida e chegada) */
.leaflet-routing-icon {
  background-color: transparent !important;
  border: none;
}

.lotesquintas-container {
  margin-bottom: 25px;
}

#dropdown-container {
  width: 100%;
}

#areascomuns-dropdown {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
}

#areascomuns-dropdown option:hover {
  background-color: #313131; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto */
}

.input-group {
  display: flex;
  gap: 10px;
  position: relative;
}

.erro {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.qrcode {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

/* Botões estilizados */
.btn {
  display: block;
  text-decoration: none;
  padding: 8px;
  margin: 10px auto;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;
}

.btn.maps {
  margin-top: 20px;
  background: #4285f4;
  color: white;
}

.btn.maps:hover {
  background: #357ae8;
}

.btn.waze {
  margin-top: 20px;
  background: #4285f4;
  color: white;
}

.btn.waze:hover {
  background: #357ae8;
}

.hidden {
  display: none;
}

.sugestoes-popup {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 10;
  margin-top: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sugestoes-popup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sugestoes-popup li {
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

.sugestoes-popup li:hover {
  background-color: #f0f0f0;
}

.print-block {
  display: none;
}

@media print {
  .container {
    padding: 0px;
  }

  #map {
    height: 440px;
    width: 600px;
  }

  #print-btn,
  #googleMapsBtn,
  #wazeBtn {
    display: none;
  }
  .busca-container {
    display: none;
  }
  .print-block {
    display: block;
  }
}

/* Media Queries para Responsividade */
/* Para telas com largura máxima de 768px (tablets e celulares em orientação paisagem) */
@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }
  .container {
    max-width: 700px; /* utiliza a maior parte da tela */
    padding: 15px;
  }

  button,
  input {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
    padding: 10px;
  }
  .busca-container {
    display: block;
    margin-top: 20px;
  }

  .links-container {
    display: block;
  }
  .links-holder {
    margin-top: 50px;
  }
}

/* Para telas com largura máxima de 480px (celulares) */
@media screen and (max-width: 480px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  .btn {
    font-size: 12px;
    padding: 8px;
  }

  .links-holder {
    margin-top: 40px;
  }

  @media screen and (max-width: 380px) {
    .input-group {
      flex-direction: column;
      gap: 5px;
    }
  }
}
